<div class="row justify-content-center">
  <div class="col-md-3 border">
    <div class="text-start fw-bold my-2">Login into your account</div>
    <div class="col-md-12"><hr /></div>
    <form [formGroup]="form" (ngSubmit)="login()">
      <div *ngIf="form?.errors" class="alert alert-danger">
        Please resolve the errors first
      </div>
      <button class="btn-primary fw-bold form-control text-start">
        <img src=".\assets\images\google-logo.png" />
        &nbsp; Continue with Google
      </button>
      <div class="form-group">
        <div class="row my-2">
          <div class="col-md-12">
            <input
              formControlName="email"
              id="email"
              type="email"
              class="form-control"
              placeholder="Email"
            />
            <div
              *ngIf="form.get('email')?.['touched'] && form.get('email')?.['invalid']"
              class="alert alert-danger"
            >
              <div *ngIf="form.get('email')?.errors?.['required']">
                email is required.
              </div>
              <div *ngIf="form.get('email')?.errors?.['email']">
                Please Enter a valid Email
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="row my-2">
          <div class="col-md-12">
            <input
              formControlName="password"
              id="password"
              type="password"
              class="form-control"
              placeholder="Password"
            />
            <div
              *ngIf="form.get('password')?.['touched'] && form.get('password')?.['invalid']"
              class="alert alert-danger"
            >
              <div *ngIf="form.get('password')?.errors?.['required']">
                Password is required
              </div>
            </div>
          </div>
        </div>
      </div>
      <button class="btn btn-primary fw-bold form-control">Login</button>
        <div class="col-md-12"><hr /></div>
        <div class="text-center my-1">
          Don't have an account?
          <span><a routerLink="/register">Sign up</a></span>
        </div>
    </form>
  </div>
</div>
