<div class="row justify-content-center" style="font-size: 16px">
  <div class="col-md-4 border">
    <div class="text-start fw-bold my-2">Create a New Task</div>
    <div class="col-md-12"><hr /></div>
    <div class="form-group my-2">
      <form [formGroup]="taskForm" (ngSubmit)="addTask()" >
        <div
          *ngIf="taskForm?.errors"
          class="alert alert-danger"
          style="font-size: 10px"
        >
          Please resolve the errors first to proceed
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-md-12">
              <input
                formControlName="name"
                id="name"
                type="text"
                class="form-control"
                placeholder="Task Name"
                style="font-size :13px"
              />
              <div
                *ngIf="taskForm.get('name')?.['touched'] && taskForm.get('name')?.['invalid']"
                class="alert alert-danger"
              >
                <div
                  *ngIf="taskForm.get('name')?.errors?.['required']"
                  style="font-size: 10px"
                >
                  Task Name is required.
                </div>
              </div>
            </div>
          </div>
          <div class="row my-2">
            <div class="col-md-6">
              <select
                class="form-select"
                aria-label="workerIds"
                formControlName="workerIds"
                multiple
                (ngModelChange)="getCurrentWorkerList($event)"
                style="font-size :13px"
              >
                <option disabled>Select Possible Workers</option>
                -->
                <option
                  *ngFor="let possibleWorker of possibleWorkerList"
                  [value]="{
                    id: possibleWorker.id,
                    firstName: possibleWorker.firstName
                  }"
                >
                  {{ possibleWorker.firstName }}
                </option>
              </select>
              <div
                *ngIf="taskForm.get('workerIds')?.['touched'] && taskForm.get('workerIds')?.['invalid']"
                class="alert alert-danger"
              >
                <div
                  *ngIf="taskForm.get('workerIds')?.errors?.['required']"
                  style="font-size: 10px"
                >
                  Please Select the Possible Workers
                </div>
              </div>
            </div>

            <div class="col-md-6">
              <select
                class="form-select"
                aria-label="currentWorkerId"
                formControlName="currentWorkerId"
                style="font-size :13px"
              >
                <option disabled>Select Current Workers</option>
                <option
                  *ngFor="let currentWorker of currentWorkerList"
                  [value]="currentWorker.id"
                >
                  {{ currentWorker.firstName }}
                </option>
              </select>
              <div
                *ngIf="taskForm.get('currentWorkerId')?.['touched'] && taskForm.get('currentWorkerId')?.['invalid']"
                class="alert alert-danger"
              >
                <div
                  *ngIf="taskForm.get('currentWorkerId')?.errors?.['required']"
                  style="font-size: 10px"
                >
                  Please Select Current Worker
                </div>
              </div>
            </div>
          </div>
          <div class="row my-2">
            <div class="col-md-13">
              <select
                class="form-select"
                aria-label="orderingScheme"
                formControlName="orderingScheme"
                style="font-size :12px"
              >
                <option disabled>Select Order Scheme</option>
                <option value="0">0</option>
                <option value="1">1</option>
              </select>
              <div
                *ngIf="taskForm.get('orderingScheme')?.['touched'] && taskForm.get('orderingScheme')?.['invalid']"
                class="alert alert-danger"
              >
                <div
                  *ngIf="taskForm.get('orderingScheme')?.errors?.['required']"
                  style="font-size: 10px"
                >
                  Please Select Order Scheme
                </div>
              </div>
            </div>
          </div>

          <div class="text-center my-2">
            <button class="btn btn-primary fw-bold form-control">Add Task</button>
          </div>
          <span class="my-2"></span>
        </div>
      </form>
    </div>
  </div>
</div>
