<div class="row justify-content-center">
  <div class="col-md-5">
    <div class="container">
      <div class="table-wrapper my-2">
        <div class="table-title">
          <div class="row">
            <div class="col-sm-8 fw-bold my-2" style="font-size: 18px">
              Task Details
            </div>
            <div class="col-sm-4">
              <button
                type="button"
                class="btn btn-primary"
                (click)="showAddTask()"
                style="font-size: 12px; float: right"
              >
                <i class="bi bi-plus"></i>
                Add New Task
              </button>
            </div>
          </div>
        </div>
        <table
          class="table table-bordered table-hover"
          *ngIf="tasks"
          style="text-align: center; font-size: 12px"
        >
          <thead>
            <tr class="table-primary">
              <th>Task</th>
              <th>Current Worker</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr
              *ngFor="let task of tasks"
              (click)="rowSelected(task)"
              [ngClass]="{ highlight: task === selectedTask }"
            >
              <td class="align-middle">
                {{ task.name }}
              </td>
              <td class="align-middle">
                {{ task.currentWorker.firstName }}
                {{ task.currentWorker.lastName }}
              </td>
              <td>
                <button
                  *ngIf="buttonShowHide(task.currentWorker.firstName)"
                  class="btn bi bi-check-square-fill"
                  data-toggle="tooltip"
                  data-placement="top"
                  title="Complete Task"
                  (click)="completeTask(task); onEvent($event)"
                ></button>
                <button
                  *ngIf="buttonShowHide(task.currentWorker.firstName)"
                  class="btn bi bi-arrow-right-square-fill"
                  data-toggle="tooltip"
                  data-placement="top"
                  title="Skip Task"
                  (click)="skipTask(task); onEvent($event)"
                ></button>
                <button
                  class="btn bi bi-trash-fill"
                  data-toggle="tooltip"
                  data-placement="top"
                  title="Delete Task"
                  (click)="deleteTask(task); onEvent($event)"
                ></button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<task-details
  [selectedTask]="selectedTask"
  [displayStyle]="displayStyle"
  (closeEvent)="onCloseClickEvent()"
></task-details>
