<!--<h1>This is Task Tracking Application UI</h1>-->
<div class="container-fluid-lg">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Tasker</a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav col-md-1">
        <a class="nav-item fw-bold nav-link" href="#"><span class="bi bi-house-door-fill"></span>Home</a>
      </div>
      <div class="navbar-nav justify-content-end col-md-11">
        <a class="nav-item fw-bold nav-link" *ngIf="user" (click) ="logout()"><span class="bi bi-door-closed"></span>Log-Out</a>
        <a class="nav-item fw-bold nav-link" *ngIf="!user" routerLink="/login"><span class="bi bi-door-open"></span>Login</a>
        <a class="nav-item fw-bold nav-link" routerLink="/register"><span class="bi bi-file-earmark-person"></span>Sign-Up</a>
        <a class="nav-item fw-bold nav-link" routerLink="/register"><span class="bi bi-file-earmark-person"></span>{{user?.firstName}}</a>
      </div>
    </div>
  </nav>
  <div class="my-2"></div>
  <router-outlet></router-outlet>
</div>
